section{
	display: flex;
}

.main-site{
	display: flex;
	flex-direction:column;
	padding:1em;
}

.menu1{
	display: flex;
	flex-direction:row;
	font-family: "Gill Sans", sans-serif;
}

.centre{
	display: flex;
	align-items: center;
	flex-direction:column;
	height:400px;
	width: 100%;
	padding:1em;
	border: thick double #32a1ce;
	margin:1em;


}

.gauche{
	height:600px;
	width: 45%;
	border: thick double #32a1ce;
	padding:1em;
	margin:1em;
}

p{
	font-weight: bold;
}

.notes{
	font-weight: bold;
}

.planning{
	font-family: "Gill Sans", sans-serif;
	border: solid;
	height:100px;
	width: 95.5%;
	margin:1em;
	padding:1em;
}
